WebServiceForTask5/.vs
WebServiceForTask5/packages
WebServiceForTask5/WebServiceForTask5/bin
WebServiceForTask5/WebServiceForTask5/obj
WpfAppForTask5/.vs
WpfAppForTask5/packages
WpfAppForTask5/WpfAppForTask5/bin
WpfAppForTask5/WpfAppForTask5/obj